<ul  class="animate__animated animate__flipInX">
    <p class="text-center" *ngIf="todos.length == 0">
      <small>Você ainda não tem tarefas hoje.</small>
    </p>
    <li *ngFor="let todo of todos">
       {{ todo.title}}
       <button (click)="remove(todo)">
        <i class="far fa-trash-alt"></i>
      </button>
      <button *ngIf="!todo.done" (click)="markAsDone(todo)">
        <i class="far fa-check-circle"></i>
      </button>
      <button *ngIf="todo.done" (click)="markAsUndone(todo)">
        <i class="fas fa-check-circle"></i>
      </button> 
    </li>
  </ul>